h1, h2, h3, h4, h5, h6  {
	font-family: 'Playfair Display', serif;	
}

p, li {
	font-family: 'Raleway', sans-serif;
}

.banner-heading h2 {
	font-family: 'Raleway', serif;
}

.banner-heading p {
	font-family: 'Playfair Display', serif;
	font-size: 5em;
}

.main-heading {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	padding: 1em 0;
}

.product-name {
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
}

/* COLORS */

.color-white {
	color: rgb(255,255,255);
}

.color-black {
	color: rgb(0,0,0);
}

.color-red {
	color: rgb(226, 87, 76);
}

.color-grey {
	color: rgb(171,171,171);
}

.background-color-red {
	background-color: rgb(226, 87, 76);
}

.background-color-grey {
	background-color: rgb(36, 36, 36);
}

.background-color-white {
	background-color: rgb(255,255,255);
}

/* ALIGNMENTS */

.text-align-center {
	text-align: center;
}

.font-weight-normal {
	font-weight: normal;
}